<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Balraj Mothers Cookbook</title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-08-08T20:51:33.494297014"/>
	<meta name="changed" content="2017-08-09T11:56:05.868587361"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		td p { margin-bottom: 0in }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US">
	<%= image_tag("mm1.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm2.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm3.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm4.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm5.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm6.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm7.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm8.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm9.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm11.jpg", {:style => "width:100%;"}) %>
	<%= image_tag("mm13.jpg", {:style => "width:100%;"}) %>
</body>
</html>
