<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="generator" content="LibreOffice 5.1.6.2 (Linux)" />
        <meta name="created" content="2017-11-13T11:12:45.018498137" />
        <meta name="changed" content="2017-11-13T11:54:37.760256236" />
        <style type="text/css">
            @page {
                margin: 0.79in
            }

            p {
                margin-bottom: 0.1in;
                line-height: 120%
            }
        </style>``
    </head>

    <body lang="en-US" dir="ltr">
      <br>
      <br>
        <p align="center" style="margin-bottom: 0in; line-height: 100%">
            <font size="7" style="font-size: 32pt">Anand's Personal Sites and Functions</font>
        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

          <%= link_to "Computer Repair to Web Dev - TechIT", "http://techit.herokuapp.com/" %> <br>
          <%= link_to "A Farming endeavour with Anand", welcome_grow_path %> <br>
          <%= link_to "Learn Music with Anand!", welcome_musicClasses_path %> <br>
          <%= link_to "A ticket handling system", welcome_ticket_handeling_path %> <br>
          <%= link_to "West Indian Puns", welcome_WIPuns_path %> <br>
          <%= link_to "AmbotAutomation: All-In-One Control Panel Development, Production & Installation Shop", "https://ambotcom.herokuapp.com/" %> <br>
          <%= link_to "Nachle with Yashs Didi Dance School", "http://nwydds.herokuapp.com/" %> <br>
          <%= link_to "Investment management with Anand", welcome_invest_path %> <br>
          <%= link_to "Get a loan from Anand", welcome_loan_path %> <br>
          <%= link_to "Vedabrat Anand Etwaru's resume", "../AnandEtwaruwebdev.pdf" %> <br>
          <%= link_to "NJMJ", welcome_njmj_path %> <br>
          <%= link_to "JerzJane", welcome_njmj_path %> <br>
          <%= link_to "StockWatch", welcome_stockwatch_path %> <br>
          <%= link_to "Funeral Support for West indians in NY and NJ", welcome_funeralsupport_path %> <br>
          <%= link_to "Directory", welcome_directory_path %> <br>


          <%= link_to "Private blog", "http://theemptybarrel.tumblr.com/" %> <br>
          <%= link_to "Idea Scrawl", welcome_ideas_path %> <br>

          Help keep momentum on Anand's projects going! Support via patreon is appreciated<br>
          <%= link_to "Vedabrat's Patreon", "https://www.patreon.com/vedabrat" %> <br>
<div id="calendar-container">
  <div class="" id="calendar-header">
    <span id="calendar-month-year"></span>

  </div>
  <div id="calendar-dates">

  </div>
</div>
<script type="text/javascript">
window.onload = function(){
  var d = new Date();
  var month_name = ["January","February","March","April","June","July","August","September","October","November","December"];
  var month = d.getMonth;  //0-11
  var year = d.getFullYear();
  var first_date = month_name[month] + " " + 1 + " " + year;
  var tmp = new Date(first_date).toDateString();
  var first_day = tmp.substring(0,3);
  var day_name = ["Sun","Mon","Tues","Weds","Thurs","Fri","Sat"];
  var day_no = day_name.indexOf(first_day);
  var days = new Date(year, month+1, 0).getDate();
  var calendar = get_calendar(day_no, days);
  document.getElementById("calendar-month-year").innerHTML = month_name[month]+" "+year;
  document.getElementById("calendar-dates").appendChild(calendar);
}
function get_calendar(day_no, days){
  var table = document.createElement('table');
  var tr = document.createElement('tr');
  // row for the day letters
  for (var c=0; c<=6; c++){
    var td = document.createElement('td');
    td. innerHTML = "SMTWTFS"[c];
    tr.appendChild(td);
  }
  table.appendChild(tr);
  tr = document.createElement('tr');
  var c;
  for(c=0; c<=6; c++){
    if(c == day_no){
      break;
    }
    var ttd = document.createElement('td');
    td.innerHTML =  "";
    tr.appendChild(td);
  }
  var count = 1;
  for(;c<=6; c++){
    var td = document.createElement('td');
    td.innerHTML = count;
    count++;
    rd.appendChild(td);
  }
  table.appendChild(tr);
  for(var r = 3; r<=6; r++){
    tr = document.createElement('tr');
    for(var c=0; c<=6; c++){
      if(count > days) {
        table.appendChild(tr);
        return table;
      }
      var td = document.createElement('td');
      td.innerHTML = count;
      count==;
      tr.appendChild(td);
    }
    table.appendChild(tr);

  }
}

</script>

        </p>
    </body>

</html>
